.html {
  font-family: 'Roboto Mono', monospace;
}

/* navbar */
.navbar-brand {
  height: 5.5em;
  width: 10em;
}

.nav-link {
  font-weight: 500;
}

@media (min-width: 991px) and (max-width: 1152px) {
  .navbar-nav .nav-link {
      font-size: 0.9rem;
  }
}
/* kraj navbara  */

/* footer  */
.footerBtn {
  color: #ffffff;
  margin-left: 0.5em;
}

.subscription-form .footerBtn {
  width: 100%;
  max-width: 100%;
}

.footerBtn:hover {
  color: #0F044C;
  background-color: #ffffff;
  border-color: #0F044C;
}

.social a:hover {
  text-decoration: none;
}

.form-control {
  border-radius: 20px;
}

.form-inline .btn {
  border-radius: 20px;
}


footer {
  background-color: #141E61;
  color: #fff;
  padding: 40px 0;
}

.subscription-form h3 {
  color: #fff;
}

.footer-copy a {
  color: #fff;
}

.newsletter,
.social,
.mission {
  margin-bottom: 1rem;
}

@media (min-width:768px) and (max-width:991px) {
  .footerBtn {
      margin: 1em;
  }
}

/* kraj footera  */

/* fontovi i velicine  */
.artHeader {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  .cultureHeader {
      font-size: 1.2rem;
  }

  .newsInfo {
      font-size: 0.8rem;
  }
}

@media (min-width:768px) and (max-width:1200px) {
  .newsInfo {
      font-size: 0.8rem !important;
  }

  .cultureHeader {
      font-size: 1.2rem !important;
  }
}

.cultureHeader {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.newsInfo {
  line-height: 1.5;
}
/* kraj fontova i velicina  */

/* kartice */
.card:hover {
  box-shadow: -1px -5px 54px 0px rgba(120, 122, 145, 0.75);
  -webkit-box-shadow: -1px -5px 54px 0px rgba(120, 122, 145, 0.75);
  -moz-box-shadow: -1px -5px 54px 0px rgba(120, 122, 145, 0.75);
  transition: 0.4s;
  cursor: pointer;
}

.card {
  border: none;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.card-img-top {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  object-fit: cover;
}

/* VRLO VAZNO ZBOG KARTICA U SEARCHU*/
.card img,
.rtu img {
  height: 200px;
  object-fit: cover;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.cardLink {
  color: black;
}

.cardLink:hover {
  text-decoration: none;
  color: #33419b;
}

@media (min-width: 768px) and (max-width: 992px) {
  .card-body h3 {
      font-size: 1.2rem !important;
  }

  .card-body p {
      font-size: 0.8rem;
  }
}

@media (max-width:768px) {
  .card-body h3 {
      font-size: 1rem;
  }

  .card-body p {
      font-size: 0.8rem;
  }
}
@media (max-width:590px) {

  .card{
      width: 75vw;
      margin: auto;
  }
}

/* kraj kartica */


/* dugme za vrh */
#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
}

#message {
  border-radius: 20px;
  border: 1px solid #ced4da;
  padding: 10px;
  margin-bottom: 10px;
  overflow-y: auto;
}

/* Google Translate element */
body{
  top:0px !important;
}
#google_translate_element {
  display: inline-block;
  margin-right: 30px;
  position: relative;
}

#google_translate_element img {
  display: none;
  width: 30px;
  height: auto;
  vertical-align: middle;
}

#google_translate_element a {
  font-size: 1rem;
  padding: 0.3rem;
  margin: 40px;
  text-decoration: none;
}

#google_translate_element span {
  font-family: 'Arial', sans-serif;
  font-size: 14px;
  color: #333;
  padding: 5px;
  border-radius: 10%;
  background-color: #f8f8f8;
  transition: background-color 0.3s ease;
}

.VIpgJd-ZVi9od-ORHb-OEVmcd {
  display: none !important;
}
/* kraj google-translate  */